In [76]:

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import StratifiedShuffleSplit #分层交叉验证
import joblib
from sklearn.metrics import roc_auc_score,precision_recall_curve,classification_report,roc_curve

#读取数据
label = pd.read_csv(r'F:\Artificial Intelligence\Project\project3\data\trainlabel.txt',header = None, names=["income"])
traindata= pd.read_csv(r'F:\Artificial Intelligence\Project\project3\data\traindata.csv')



continuous_columns=['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']
discrete_columns=['workclass','education','marital.status','occupation','relationship','race','sex','native.country']

encode_traindata = pd.get_dummies(traindata,columns=discrete_columns) #离散型特征热编码
traindata_x=encode_traindata

mean=traindata_x[continuous_columns].mean()
std=traindata_x[continuous_columns].std()
normal=(traindata_x[continuous_columns]-mean)/std

traindata_x=traindata_x.drop(columns=continuous_columns)
traindata_x=pd.concat([traindata_x,normal],axis=1)
traindata_x=traindata_x.values

encode_traindata

,age,fnlwgt,education.num,capital.gain,capital.loss,hours.per.week,workclass_?,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native.country_Portugal,native.country_Puerto-Rico,native.country_Scotland,native.country_South,native.country_Taiwan,native.country_Thailand,native.country_Trinadad&Tobago,native.country_United-States,native.country_Vietnam,native.country_Yugoslavia
0,77,177550,13,3818,0,14,False,False,True,False,...,False,False,False,False,False,False,False,True,False,False
1,40,475322,13,0,0,50,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,29,341672,9,0,1564,50,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,41,184378,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
4,22,306967,10,0,0,25,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22787,48,79646,7,0,0,50,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
22788,26,118523,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
22789,36,301614,9,0,0,40,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
22790,33,335625,10,0,0,40,True,False,False,False,...,False,False,False,False,False,False,False,True,False,False
22791,17,331552,8,0,0,30,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False

In [77]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import joblib
from sklearn.metrics import roc_auc_score,precision_recall_curve,classification_report,roc_curve

testdata = pd.read_csv(r'F:\Artificial Intelligence\Project\project3\data\testdata.csv')
continuous_columns=['age','fnlwgt','education.num','capital.gain','capital.loss','hours.per.week']
discrete_columns=['workclass','education','marital.status','occupation','relationship','race','sex','native.country']

encode_testdata = pd.get_dummies(testdata,columns=discrete_columns) #离散型特征热编码
encode_reshape = encode_traindata.align(encode_testdata,join='left',fill_value=0,fill_axis=1)[0]
testdata_x=encode_reshape

mean=testdata_x[continuous_columns].mean()
std=testdata_x[continuous_columns].std()
normal=(testdata_x[continuous_columns]-mean)/std

testdata_x=testdata_x.drop(columns=continuous_columns)
testdata_x=pd.concat([testdata_x,normal],axis=1)
# testdata_x=testdata_x.values

testdata_x.isna().sum().sum()

0